<configuration>
	<connectionStrings>
		<add name="MyDbContext"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\QLNhaHang\QLNhaHang\QLNhaHang\DatabaseQLnhahang.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
